# Single Server Setup - Simple and Easy!

# Discord Settings
DISCORD_TOKEN=your_discord_bot_token
DISCORD_GUILD_ID=your_discord_guild_id
DISCORD_CHANNEL_ID=your_discord_channel_id

# Single Server Configuration (RCON V2 - optional as fall back map flip)
SERVER_NAME=Your Server Name
RCON_HOST=your.server.hostname.or.ip
RCON_PORT=7779
RCON_PASSWORD=your_server_rcon_password

# CRCON HTTP API (user from CRCON_BASE_URL/admin - create a new user and django api token)
CRCON_BASE_URL=https://your-crcon-host/api
CRCON_USERNAME=your_crcon_username
CRCON_PASSWORD=your_crcon_password
CRCON_TOKEN=crcon-django-token

# Optional Settings
DEBUG=True
